.container {
    width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.page-header {
    display: flex;
    text-align: center;
    border: 1px solid #313131;
    background-color: #313131;
    height: 70px;
    justify-content: space-between;
    align-items: center;

}

.logo {

    justify-content: right;
    align-items: flex-start;
    text-align: right;
    width: 188px;
    font-weight: 700;
    font-size: 22px;

    margin-left: 16px;
}

.logo-item {
    display: flex;
    text-decoration: none;
    color: white;

justify-content: space-evenly;

}

.intro {
    display: flex;
    text-align: center;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.menu-int {
    display: flex;


}


.menu-intro {
    margin-right: 30px;

}

.intro-item {
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-transform: uppercase;

}

.intro-item:hover {

    color: #14B9D5;
}

.favicon {
    display: flex;
    background-color: black;
    border: 1px solid black;
    width: 68px;
    height: 70px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.page-name {

    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 100%;

}

.header-item {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 164px;

    text-decoration: none;
    font-weight: 700;
    font-size: 27px;
    color: white;
}

.button {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 74px;

}

.header-button {
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    margin-right: 20px;
}

.button-item-first {
    background-color: #89CA62;
    border-radius: 1px;
    padding: 17px 19px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;

}

.button-item-second {
    background-color: #14B9D5;
    border-radius: 1px;
    padding: 17px 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    align-items: flex-end;
    text-align: center;
    justify-content: space-evenly;
}

.more-item {
    display: flex;
    padding-top: 49px;
    align-content: center;
    justify-content: center;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    background-color: #F2F2F2;
}


.more {
    background-color: #F2F2F2;
    height: 100%;
    background-size: cover;

}

.more-header {


}

.posts {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    height: 900px;

}

.service-img {
    width: 370px;
}

.service-item {
    margin-right: 30px;
    margin-bottom: 31px;

}


.service-item-first {
    order: -6;

}


.service-item-second {
    order: -4;


}


.service-item-fourth {
    order: -5;


}

.service-item-fifth {
    order: -3;


}

.service-link {
    display: flex;
    background-color: white;
    width: 370px;
    height: 61px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #353A3D;
}

.container-clients {
    background-image: url(./img/dark.jpg);
    height: 588px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-areas:
". item1 item1 . "
". item2 item2 . "
"item3 item3 item3 item3"
}


.clients {
    margin-bottom: 0;
    grid-area: item1;
    align-self: end;
    justify-items: center;
    align-content: center;

    color: white;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-line {
    grid-area: item2;
    border: none;
    height: 3px;
    width: 60px;
    background: linear-gradient(0deg, #18B4CF, #18B4CF);

}

.different-clients {

    grid-area: item3;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 58px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-bottom: auto;

}

.color-rated {

    background: #E5E5E5;
}

.top-rated {

    width: 100%;
}

.rated {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    min-height: 134px;


}

.rated-header {
    text-decoration: none;
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
}

.img-rated {
    display: grid;
    grid-auto-flow: column;

    list-style: none;

}

.rated-items {

}


.news {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    min-height: 134px;

}

.news-header {
    text-decoration: none;
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;


}

.different-hotels {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 35px;

}

.hotels {
    display: grid;

    grid-template-columns: 1fr 1fr;

    margin-bottom: 71px;
}

.hotels-first {
    grid-area: 1 / 1 / 1 / 4;
    grid-auto-flow: column;


}

.hotels-second {
    grid-area: 1 / 4 / 2 / 5;
}

.hotels-third {

    grid-area: 2 / 1 / 3 / 3;

}

.hotels-fourth {
    grid-area: 2 / 3 / 3 / 5;

}

.hotels-fifth {

    grid-area: 3 / 1 / 4 / 3;
}

.hotels-sixth {
    grid-area: 3 / 3 / 4 / 5;

}

.hotels-seventh {

    grid-area: 4 / 1 / 5 / 2;
}

.hotels-eighth {

    grid-area: 4 / 2 / 5 / 5;
    grid-auto-flow: column;

}

.background-hotels {

    background: #F9F7F7;
    text-align: right;
    padding-top: 12px;
    padding-left: 13px;
    padding-right: 13px;
}

.background-hotel {

    background: #F9F7F7;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 15px;
}

.background-hotels-big {
    padding-top: 41px;
    padding-bottom: 41px;

}

.hotels-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;

}

.hotels-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #5B6469;
    padding-top: 15px;

}

.footer {
    padding-top: 29px;
    background-color: black;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    justify-self: center;
    align-self: center;
    align-content: center;

}

.vector {
    width: 38px;
display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.footer-text {

    color: white;
}