body {
    margin: 0 auto;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.background {
    background-size: cover;
    background-image: url(../brown.jpg);
    width: 1519px;
    height: 770px;
    padding: 0;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 18px 80px;
    background: rgba(0, 0, 0, 0.4);
}

.name-main {
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;

}

.name-main:hover {
    color: #01813F;

}

.menu-item {
    display: flex;
    justify-content: space-evenly;

}

.menu-elements {
    padding-right: 25px;
    list-style: none;

}

.calendar {
    fill: #ffff;

}

.calendar:hover {

    fill: #01813F;

}

.mail {
    fill: #ffff;

}

.mail:hover {
    fill: #01813F;

}


.nav {
    padding-right: 50px;
    fill: #ffff;

}

.nav:hover {
    fill: #01813F;


}

.log {
    font-size: 14px;
    line-height: 14px;
    color: #ffff;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.log-in {
    text-decoration: none;
    color: #ffff;

}

.log-in:hover {
    color: #01813F;
}

.log::before {
    content: " ";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 145px;
    bottom: 4px;
}

.sign {
    font-size: 14px;
    line-height: 14px;
    color: #ffff;
    padding-top: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.sign-up {
    text-decoration: none;
    color: #ffff;


}

.sign-up:hover {
    color: #01813F;
}

.main {
    height: calc(100vh - 62px);

}

.form {
    height: 610px;
    width: 434px;
    margin: 40px auto 0;
    padding: 0 90px;

    position: relative;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52)
}

.header-form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 33px;
    align-items: flex-end;
}

.form-title {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
}

.green-box {
    position: absolute;
    left: 0;
    top: 33px;

}

.registration-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    font-family: 'Ubuntu', sans-serif;
}

.registration-link:hover {
    text-decoration: underline;
    color: #01813F;

}

.form-or {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 12px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.form-or::before {
    content: " ";
    position: absolute;
    display: inline;
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    top: 65%;
    right: 60px;
}

.form-or::after {
    content: " ";
    position: absolute;
    display: inline;
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    top: 65%;
    left: 60px;
}

.button {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}


.button-header {

    border-radius: 5px;

    margin-top: 17px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    position: relative;

}

.button-item-facebook {
    background-color: #305DB8;
    padding: 17px 73px;

    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.button-item-facebook:hover {
    background-color: #022263;

}

.img-facebook {
    position: absolute;
    left: 20px;
    top: -5px;
    margin-right: 10px;
}

.button-item-facebook::before {
    content: " ";
    border-left: 1px solid #0A162F;
    position: absolute;
    height: 28px;
    top: -5px;
    left: 50px;
    opacity: 0.1;
}


.button-item-google {

    background-color: #DF4A32;
    padding: 17px 80px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;


}

.button-item-google:hover {

    background-color: #AB1F09;

}

.button-item-google::before {
    content: " ";
    border-left: 1px solid #0A162F;
    position: absolute;
    height: 28px;
    top: -5px;
    left: 58px;
    opacity: 0.1;
}

.img-google {
    position: absolute;
    left: 20px;
    top: -2px;
}


.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.form-box {
    width: 322px;
    height: 45px;
    background: #FFFFFF;

    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 44px;
    margin-bottom: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
}

.form-box:focus {
    width: 330px;
    height: 50px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: lightgray;
    outline: 0;
}

[name="agreement"] {
    accent-color: white;

}

.checkbox-agreement {

    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.checkbox-terms {
    text-decoration: none;
    color: #01913F;
}

.checkbox-terms:hover {
    text-decoration: underline;
    color: #01813F;


}

.form-button {
    width: 390px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    color: #ffff;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 38px;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.form-button:hover {
    background-color: #01813F;

}
