*,
*::after,
*::before {
   box-sizing: border-box;

}

html {

   height: 100%;
}

body {
   height: 100%;
   margin: 0;


}
a {
   text-decoration: none;
}

img,
picture,
iframe,
canvas,
svg {
   max-width: 100%;
}


.container{
   max-width: 1160px;
   margin-left: auto;
   margin-right: auto;
   font-family: 'Ubuntu', sans-serif;

}

.page-header{
   background-image: url(../img/jpg/background.jpg);
   font-family: 'Ubuntu', sans-serif;

}
.menu-part{
   position: fixed;
   z-index: 9999;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: rgba(94, 93, 88, 0.6);
   width: 100%;
   height: 120px;
}
.logo-item{
   text-decoration: none;
   display: flex;
   position: relative;
align-items: center;
}
.logo-letter{
position: absolute;
left: 14px;
   top: 17px;
}
.logo-ham{
   font-size: 32px;
   line-height: 48px;
   color: #FFFFFF;

   padding-left: 6px;
}
.logo-ham-color{
  color: #18CFAB;
font-weight: 700;
}

.menu{
   display: flex;
   justify-content: center;
   align-items: center;


}
.menu_item{
   padding-left: 20px;

}
.glass{
   fill: url(#pattern0);
}

.menu_link{
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
  text-decoration: none;
   color: rgba(255, 255, 255, 0.6);
   position: relative;
   padding-bottom: 50px;
}
.menu_link:hover{
   color: #18CFAB;
border-bottom: 2px solid #18CFAB ;
margin-bottom: 10px;

}
.intro{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
   padding-top: 264px;
}
.intro-title {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 35px;
   padding-bottom: 22px;
   color: #D4D4D4;
}
.intro-title-color{
   color: #18CFAB;

}


.intro-description {
   font-weight: 700;
   font-size: 78px;
text-transform: uppercase;
   padding-bottom: 22px;
   color: #D4D4D4;
}
.intro-slogan{
   font-size: 34px;
   color: #D4D4D4;

}
.button {
   margin-top: 130px;
   display: flex;
   text-align: center;
   justify-content: center;
   padding-bottom: 243px;

}
.header-button {
   display: flex;

   flex-wrap: wrap;
   margin-right: 25px;
   border-top: 4px solid white;
   border-radius: 5px;
}

.button-item-first {
   background-color: #18CFAB;
   border-radius: 4px;
   padding: 16px 17px;
   color: white;
   text-decoration: none;
   font-size: 15px;

   justify-content: space-evenly;
   align-items: flex-end;
   text-align: center;

}

.button-item-second {
   background-color: #00CBF6;
   border-radius: 4px;
   padding: 16px 10px;
   color: white;
   text-decoration: none;
   font-size: 15px;
   align-items: flex-end;
   text-align: center;
   justify-content: space-evenly;
}
.service-more{
 margin-top: 8px;
}
.services-more{
  display: grid;
grid-template-columns: repeat(4, 1fr) ;

}
.services-item{
   background: #1C2A33;
   padding-top: 90px;
   padding-bottom: 110px;
   display: grid;
   justify-content: center;
   align-items: center;
   align-content: end;
   justify-items: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}

.services-item-color{
   background: #18CFAB;
}
.service-text{
  margin-top: 60px;
}
.service{
 margin-top: 100px;

}
.service-title{
   font-size: 36px;
   line-height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #4E4E4E;
   position: relative;
}
.service-title::before.active{
   content: " ";
   background: #18CFAB;
   position: absolute;
   padding: 1px 40px ;
   top: 75px;
   right: 520px;

}
.service-title::after.active{
   content: " ";
   background: #18CFAB;
position: absolute;
display: block;
   padding: 1px 40px ;
   top:70px
}
.service-nav{
   display: flex;
justify-content: center;
margin-top: 100px;
}
.nav-item{
   background: #F8FCFE;
   border: 1px solid #EDEFEF;
padding: 18px 45px;
   color: #717171;
   font-size: 16px;

}
.nav-item:hover{
   border: 1px solid #18CFAB;


}
.nav-item:active{
   color: #F2F2F2;
   background: #18CFAB;
   position: relative;
}

.our-services-nav::after{
   content: '';
   position: absolute;
   bottom: -15px;
   right: calc(50% - 15px);
   border-top: 15px solid #18CFAB;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.our-services-nav.active{
   background: #18CFAB;
   color: #ffff ;

}


.service-description{
   margin-top: 28px;

display: none;
}

.service-description.active {
   display: block;
}
.description-picture {
   padding-right: 28px;
}
.service-box{
   display: flex;
   text-align: center;
}

.description-text{
   font-weight: 300;
   font-size: 14px;
   line-height: 24px;
   color: #777777;

}

.purchase{
   margin-top: 90px;
 background-image: url(../img/jpg/black.jpg);


}

.purchase-intro{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
   padding-top: 127px;
   padding-bottom: 62px;
}
.purchase-title{

   font-weight: 700;
   font-size: 40px;
   line-height: 40px;
   color: #18CFAB;
   text-transform: uppercase;
}
.purchase-subtitle{
   margin-top: 13px;
   font-size: 16px;
   line-height: 40px;
   color: #D8D8D8;

}
.purchase-button{
   font-weight: bold;
   font-size: 15px;
   line-height: 32px;
   color: #FFFFFF;
   background: #18CFAB;
   border-radius: 4px;
   padding: 12px 20px;
text-transform: uppercase;
   margin-top: 62px;
   border-top: 4px solid white;

}
/* section 4*/
.work{
   padding-top: 100px;
   background: #E9EDEF;
   padding-bottom: 120px;
}


.title_checkboxes {
   margin-top: 95px;
}

.checkbox_section {
   margin-top: 97px;
   display: flex;
   justify-content: center;
}
.label-btn{
   height: 58px;
}

.label-btn input {
   visibility: hidden;
   color: #717171;
   display: flex;
   justify-content: center;
}

.label-btn span {
   display: inline-block;
   /*padding: 5px 10px;*/
   padding: 17px;
   color: #717171;
   cursor: pointer;
   border: 1px solid #DADADA;;
}

.label-btn input:checked + span {
   border: 2px solid #18CFAB;
   color: #18CFAB;
   font-weight: 400;
   font-size: 14px;
   line-height: 42px;
   padding: 5px;
}

.img_flex_3X4 {
   margin-top: 70px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   list-style: none;
position: relative;

}
.work-title{
   font-size: 40px;
   font-weight: 400;
   color: #4E4E4E;
}
.line {
   display: block;
   width: 75px;
   height: 2px;
   background-color: #18CFAB;
   margin: 15px auto;
}
.line::before {
   content: '';
   display: block;
   width: 75px;
   height: 2px;
   background-color: #18CFAB;
   position: relative;
   top: 4px;
   left: 5px;
}
.img_block .active{
   width: 100%;
   height: 100%;
}

.img_flex_3X4 .card {
   display: none;

}

.img_flex_3X4 .card.active {
   display: block;
   box-sizing: border-box
}
.card-info {
   content: '';
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #E9EDEF;
   padding: 13px;
   width: 100%;
   height: 100%;
   border-top: 2px solid #18CFAB;
}


.card_btn a {
   position: relative;
   content: '';
top: 10px;
   border: 1px solid #18CFAB;
   border-radius: 30px;
   padding: 14px 13px 11px 13px;
}

.card_btn a img {
   width: 17px;
   height: 17px;
}

.link_stop {
   background-color: #18CFAB;
}


.card {
   height: 206px;
}

.card-info h4 {
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   color: #18CFAB;
   text-transform: uppercase;
   margin-top: 50px;
}

.card-info p {
   font-weight: 300;
   font-size: 13px;
   line-height: 25px;
   color: #8A8A8A;
}



.card:hover .card-info {

   display: flex;
}
.card:hover .img_block{
   display: none;
}
.load_more {
   border: none;
   font-weight: 700;
   font-size: 14px;
   line-height: 42px;
   display: block;
   margin: 40px auto;
}
.center {
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
  margin: 10px auto;
   position: absolute;
   bottom: -130px;
   left: 450px;

}
.hide{
   display: none;
}
.wave {
   width: 5px;
   height: 50px;
   background: linear-gradient(45deg, cyan, dodgerblue);
   margin: 10px;
   animation: wave 1s linear infinite;
   border-radius: 20px;
}
.wave:nth-child(2) {
   animation-delay: 0.1s;
}
.wave:nth-child(3) {
   animation-delay: 0.2s;
}
.wave:nth-child(4) {
   animation-delay: 0.3s;
}
.wave:nth-child(5) {
   animation-delay: 0.4s;
}
.wave:nth-child(6) {
   animation-delay: 0.5s;
}
.wave:nth-child(7) {
   animation-delay: 0.6s;
}
.wave:nth-child(8) {
   animation-delay: 0.7s;
}
.wave:nth-child(9) {
   animation-delay: 0.8s;
}
.wave:nth-child(10) {
   animation-delay: 0.9s;
}

@keyframes wave {
   0% {
      transform: scale(0);
   }
   50% {
      transform: scale(1);
   }
   100% {
      transform: scale(0);
   }
}

.work-button-load{
display: flex;
   background:  #18CFAB;
   padding: 18px 20px;
   border-radius: 5px;
   width: 160px;
   justify-content: space-between;
   align-items: center;
   font-weight: 700;
   font-size: 15px;
   line-height: 42px;
   text-transform: uppercase;
   color: #FFFFFF;
margin-top: 120px;
   margin-bottom: 60px;
   cursor: pointer;
}
.work-button-load-more{
   display: flex;
   text-align: center;
   justify-content: center;
}


.six_section{
   padding-top: 100px;
   background-image: url(../img/png/mask.png) ;

   }
.comments-title{
color: #F2F2F2 ;

}
.comments-content{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.coma{
   width: 47px;
   height: 33px;
   margin-bottom: 40px;
}

   .slider {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
.testimonial-text{
   display: flex;
justify-content: center;
   align-items: center;
   text-align: center;
   color: #BBBBBB;
   font-weight: 300;
   font-size: 16px;
   line-height: 30px;
}
.testimonial-person{
   display: block;
   text-align: center;
margin-top: 40px;
   margin-bottom: 40px;
}
.testimonial-span{
   font-weight: 700;
   font-size: 16px;
   line-height: 27px;
   text-transform: uppercase;

   color: #18CFAB;
}
.testimonial-profession{
   color: #BBBBBB;

}
.border-previous-button{
   border: 2px solid #fff ;
   width: 40px;
   height: 50px;
   position: absolute;
   content: '';
   left: 300px;
   top: 400px;
   cursor: pointer;
}
.border-previous-button:hover{
   border: 2px solid #18CFAB ;
}
   .arrowLeft {
         width: 10px;
         height: 10px;
         border-top: 2px solid #fff;
         border-left: 2px solid #fff;
         margin-right: 60px;
         position: absolute;
         content: '';
        left: 15px;
         top: 17px;
         transform: rotate(317deg);
}

.arrowLeft:hover {
   border-top: 2px solid #18CFAB;
   border-left: 2px solid #18CFAB;

}

.border-next-button{
   border: 2px solid #fff ;
   width: 40px;
   height: 50px;
   position: absolute;
   content: '';
   right: 320px;
   top: 400px;
   cursor: pointer;
}

.border-next-button:hover{
   border: 2px solid #18CFAB ;
   color: #18CFAB ;
}

.arrowRight {
   width: 10px;
   height: 10px;
   border-top: 2px solid #fff;
   border-left: 2px solid #fff;
   margin-right: 60px;
   position: absolute;
   content: '';
   left: 11px;
   top: 17px;
   transform: rotate(135deg);

}

.arrowRight:hover {
   border-top: 2px solid #18CFAB;
   border-left: 2px solid #18CFAB;
}


.item_img {
   display: flex;
   justify-content: center;
}

.testimonial {
   display: none;
   animation: testimonialOpacity 3s;

}

@keyframes testimonialOpacity {
   from {
      opacity: 0.1
   }
   to {
      opacity: 3
   }
}

.testimonial.active {
   display: block;

}

.item_img img {
   width: 143px;
   height: 142px;
   border: 10px solid rgba(31, 218, 181, 0.2);
   border-radius: 50%;
}


.carousel_img {
   display: flex;
   margin-top: 57px;
   margin-bottom: 104px;
}

.carousel_img img {
   width: 60px;
   height: 59px;
   border: 5px solid rgba(31, 218, 181, 0.2);
   border-radius: 50%;
   margin-right: 38px;
   cursor: pointer;
}

.carousel_img img.active {
   position: relative;
   top: -13px;
}


.news{
   padding-top: 80px;

}
.news-photos-item{
   position: relative;


}
.news-photos-list{
display: grid;
grid-template-columns: repeat(4, 1fr);
   row-gap: 50px;
   column-gap: 35px;
margin-bottom: 130px;
   margin-top: 70px;
}
.news-description-title{
display: flex;
   padding-left: 30px;
   font-weight: 700;
   font-size: 18px;
   line-height: 39px;
   color: #717171;
}
.news-description-title:hover{

   color: #18CFAB;

}
.description-text{
  display: flex;
   font-weight: 300;
   font-size: 14px;
   line-height: 30px;
   color: #777777;

}
.news-description-subtitle{
padding-left: 20px;
position: relative;
}

.news-description-comment{
  padding-left: 33px;
   position: relative;
}
.news-description-comment:before{
   content: " ";
 border-left: 1px solid #777777;
   height: 13px;
   width: 1px;
position: absolute;
   top: 9px;
   left: 16px;
}
.description-date{
  background: #203E38;
   width: 70px;
   height: 65px;
  color: #F2F2F2;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
position: absolute;
   right: 0;
top: 0;

}
.description-date:hover{
   background: #18CFAB;


}
.date-today{

   padding-top: 25px;
}

.gallery-title{
   margin-top: 110px;
}
.gallery-block{
   position: relative;
}
.gallery-box{
   display: flex;
   flex-direction: column;
   flex-flow: column wrap;
   justify-content: flex-start;
   align-content: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 52px;
   height: 950px;

}
.gallery-box-item{
   margin: 6px 9px;
}
.box-block{
   display: flex;
   flex-direction: column;
}
.gallery-block-elem{
   display: flex;
   flex-direction: row;
}
.gallery-flex-photos{
   display: flex;
   flex-direction: row;
   margin-bottom: 5px;
   justify-content: space-around;
   padding-top: 5px;
}
.gallery-block-photos{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   align-items: center;
   row-gap: 5px;
}


.gallery-button{
   margin: 0;
   font-family: 'Ubuntu', sans-serif;

}

.footer{
   background: #22353F;
   text-align: center;
   padding-top: 47px;
   padding-bottom: 47px;
   line-height: 26px;

}
.footer-text{
   color: #777777;
   display: block;
   text-align: center;
   font-size: 15px;
   font-weight: 300;
   font-family: 'Monserat', sans-serif;
  line-height: 26px;
}
.footer-span{
   color: #18CFAB;
}
/*.comments-item{*/
/*display: none;*/
/*}*/
/*.comments-item-active{*/
/*   display: block;*/
/*}*/

.gallery-loader {
   width: 48px;
   height: 48px;
   border: 5px solid pink;
   border-bottom-color: transparent;
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
margin-top: 80px;
   margin-left:  calc(1150px - 50%);
   margin-bottom: 40px;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}