
.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    margin-top: 63px;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
}

.logo_item {

    text-decoration: none;
    color: deepskyblue;
}

.logo_color {
    color: black;
}

.nav_part_main {

    background-color: #35444f;

}

.menu_main {
    display: flex;
    justify-content: center;
    list-style: none;

}



.menu_item {
    padding-top: 26px;
    padding-bottom: 19px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    text-align: center;
}


.menu_item:hover{
    background-color: #222F3A;

}



.menu_link {
    color: #ffffff;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    /*text-align: center;*/
    font-size: 24px;

}


.container_extra {

    font-size: 27px;

}

.main {
    display: flex;
    align-items: flex-start;
    margin-top: 48px;
    justify-content: space-between;
}

.part-extra {
    width: 857px;
    margin-left: 52px;
}

.menu_part_extra {
    text-align: left;
    padding: 26px 44px 26px 44px;
    list-style: none;
    border: 1px solid black;

}

.menu_item_extra {
padding: 26px 44px;
    /*margin-bottom: 40px;*/
}

.menu_link_extra {
    font-size: 27px;
    text-decoration: none;
color: #485863;
}

.menu_link_extra:hover{
color: #35444F;
    background-color: #DBDBDB;
}
.picture {

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;

}
img:hover {
width: 360px;
transition: 15s;
}

.text {

    margin-bottom: 54px;
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}


.menu_conclusion {
    display: flex;

}

.menu_item_conclusion {

    margin-left: 30px;
}

.footer {
    display: flex;
    background-color: gray;
    justify-content: space-between;
    padding: 20px 40px;
    margin-bottom: 30px;
}

.menu_link_conclusion {

    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;

}
.menu_link_conclusion:hover{

    color: deepskyblue;
   text-decoration: underline deepskyblue;

}
.sign {

    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
