*,
*::after,
*::before {
    box-sizing: border-box;

}

html {

    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;

}

a {
    text-decoration: none;
}

img,
picture,
iframe,
canvas,
svg {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 26px;
}


.menu {
    display: inline-block;
    margin-left: 196px;
    padding-left: 0;
    vertical-align: top;
    margin-bottom: 0;
    margin-top: 0;

}


.menu_item {
    display: inline-block;
    margin-left: 65px;
    font-weight: 700;
    font-size: 18px;


}

.menu_link {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FF0000;

}

.picture {
    width: 100%;

}

.intro_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 253px;

}

.intro_text {

    font-size: 16px;
    line-height: 26px;
    color: #373737;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 28px;
    margin-left: 68px;

}

.intro_text_text {
    margin-bottom: 84px;
}

.button {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;

    font-weight: 700;
    align-items: center;
    margin-top: 84px;
    margin-bottom: 99px;
    margin-left: 650px;
    border-radius: 4px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 42px;
    padding-right: 43px;
    background-color: #FF0000;
    text-transform: uppercase;
}

.slogan {
    width: 462px;
    height: 39px;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #373737;
    font-weight: 700;
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;
    margin-left: 713px;
    float: right;
}