*,
*::after,
*::before {
    box-sizing: border-box;

}
html {

    height: 100%;
}

body {

    background-color: black;
    overflow: hidden;


}
body::after{
 position: fixed;
    top: 0;
    width: 100%;
    content: " ";
   height: 80%;
}
.container{


    font-family: 'Ubuntu',sans-serif;

    margin: auto;

    perspective: 550px;
position: absolute;
top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective-origin: bottom;
    overflow: hidden;
}

.content{
width: 70%;
margin-left: 200px;
    height: 100%;
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: 700;

    position: absolute;
animation: scroll 30s linear infinite;

}
h2 {

 text-align: center;

}
p{
    width: 82%;
    margin-left: 100px;
}
@keyframes scroll {
    0%{
transform: rotateX(25deg) translateY(30rem) ;

    }
   100%{

 transform:   rotateX(25deg)  translateY(-40rem);

   }

}
