/**,*/
/**::after,*/
/**::before {*/
/*    box-sizing: border-box;*/

/*}*/
body {
    margin: 0 auto;
    padding: 0;
}


/*html {*/
/*display: inline-block;*/
/*    height: 100%;*/
/*    width: 100%;}*/

.background {
    background-size: cover;
    background-image: url(./background.jpg);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.container {
    width: 1366px;
    margin: 0 auto;
    /*height: 768px;*/
}

.nav {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 46px;
align-items: center;
}
.logo-class{

    width: 200px;
}
.logo-link {
    display: flex;
    height: 47px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    background: url(./img/log.png);
    width: 53px;
    text-decoration: none;
    color: #ffff;

}

.logo-link:hover {
    background: url(orange.png);
    color: #F26522;

}
.logo-class{
    height: 53px;
    display: flex;

}
/*.text-logo{*/
/*    text-transform: uppercase;*/
/*    width: 80px;*/
/*    font-weight: 700;*/
/*    font-size: 18px;*/
/*    line-height: 18px;*/
/*    padding-left: 5px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/

/*}*/
.text-logo{
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    justify-content: center;
    margin: 0;
    padding-bottom: 0;
    padding-left: 60px;

}


.item-holidays {
    display: flex;
    align-items: flex-start;
  font-size: 18px;
padding-bottom: 0;
margin-bottom: 0;
}



.email {
    text-decoration: none;
    color: #ffff;

}

.email:hover {

    color: #F26522;
}

.phone {

    color: #ffff;
}

.phone:hover {

    color: #F26522;
}

.tours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0;
/*position: absolute;*/
}



.tours-item:hover {
    /*   border: 1px solid #F26522;*/
    /*background: #F26522 ;*/
    /*    width: 295px;*/
    /*    height: 55px;*/
    /*    position: relative;*/
}

.img-link {
    text-decoration: none;

}

.picture {

    width: 300px;
    height: 220px;
    margin: auto;
    background: white;
    border: 5px solid;
    -moz-border-image: -moz-linear-gradient(top, black 50%, white 50%);
    -webkit-border-image: -moz-linear-gradient(bottom, black 50%, white 50%);
    border-image: linear-gradient(
            to bottom,
            white,
            rgba(1, 7, 17, 0.98)
    ) 1 100%;
}

.tour-text {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 37px;

}
.tour-text:hover{
    color:  #F26522 ;

}
.tours-item {
    position: relative;

}
.tours-description{
    position: absolute;
    left: 0;
    top: 175px;
    background-color:  #F26522;
    width: 295px;
    height: 55px;
    padding-left: 16px;
color: #ffff;
display: none;
}
.tour-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;


}
.tours-item:hover .tours-description{
    display: flex;

}
.description-name{
    display: flex;
padding-right: 250px;
    justify-content: start;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 7px;
    font-size: 10px;
    line-height: 10px;
}

.tours-prise{
margin: 0;
padding-right: 150px;
    font-size: 20px;
    line-height: 20px;
}
.tours-details{
    margin: 0;
padding-bottom: 12px;
    font-size: 14px;
    line-height: 14px;
}
.tours-details::after{
    content: url("Vector 1 (2).svg");
    height: 10px;
    width: 5px;
    padding-left: 10px;

}

.end {
    display: flex;
    color: white;
    justify-content: center;
    padding-bottom: 15px;
    margin: 0;
    padding-top: 49px;
}